:root{
  --bg-clr: rgb(67 , 46, 84);
  --primary-clr-font: rgb(255, 255, 255);
  --secondary-clr-font: rgb(174, 68, 90);
  --third-clr: rgb(75, 67, 118);
  --btn-clr: rgb(232, 188, 185);
  --alt-clr: rgb(16, 44, 87);
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: 
    linear-gradient(135deg, 
    var(--btn-clr) 0%,
    var(--alt-clr) 50%,
    var(--btn-clr) 100%);
  background-size: 300% 300%;
  animation-name: gradient-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
 }

a{
  all: unset;
}

h1,h2,h3,h4,h5,h6{
  color: var(--secondary-clr-font);
}

p{
  color: var(--primary-clr-font);
}

button{
  color: var(--btn-clr);
  background-color: var(--secondary-clr-font);
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}

/* Warning */
.warning-background{
  background-color: rgba(0, 0, 0, 50%);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning{
  position: relative;
  border: 4px solid var(--third-clr);
  background-color: var(--bg-clr);
  width: 30vw;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning button{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 2rem;
  color: var(--secondary-clr-font);
  background-color: unset;
}

.warning button:hover{
  cursor: pointer;
}

.warning p{
  max-width: 90%;
  word-wrap: break-word;
}

.warning p:first-of-type{
  color: var(--secondary-clr-font);
  font-weight: bold;
}

.warning p:nth-of-type(2){
  font-size: 1.7rem;
}