/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header h1{
  font-size: 200%;
  text-align: center;
}

header h2{
  font-size: 150%;
  color: var(--primary-clr-font);
  text-align: center;
}

/* main */
main{
  width: 100%;
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(10rem, 35rem));
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
}

main div{
  max-width: 100%;
  margin: auto;
  padding: auto;
  position: relative;
  cursor: pointer;
}

img{
  object-fit: contain;
  width: 100%;
  z-index: -1;
}

main div h1{
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 5%;
  font-size: 125%;
  font-weight: bold;
  margin: auto;
  padding: auto;
}

main div p{
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left:5%;
  font-size: 90%;
  font-weight: bold;
  margin: auto;
  padding: auto;
}

@media screen and (max-width: 460px) {
  main div h1{
    bottom: 27%;
    left: 4%;
    font-size: 100%;
  }
  main div p{
    bottom: 10%;
    left: 4%;
    font-size: 70%;
  }
}


