/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 250%;
}

header h1{
  font-size: 200%;
  text-align: center;
  cursor: pointer;
}

/* Main */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1{
  font-size: 2.4rem;
  margin: 2vh 10%;
  padding: auto;
  text-align: center;
}

main p{
  font-size: 1.4rem;
  margin: 2vh 20%;
  padding: auto;
}

main img{
  width: 65%;
}

/* Comment Section */
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2{
  font-size: 2.4rem;
}

section div{
  width: 50%;
  display: flex;
  flex-direction: column;
}

section div input{
  width: 30%;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

section div textarea{
  margin-bottom: 1rem;
}

section button{
  width: 8rem;
  height: 2rem;
}

.comments div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comments h3,
.comments p {
  margin-bottom: 0;
  margin-top: 0;
}

/* Responsiveness */
@media screen and (max-width: 460px) {
  main p{
    margin: 2vh 5%;
  }

  main img{
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  section div{
    width: 90%;
  }
}